<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%PYTHON_EXE%" arguments="minimal_startup.py" stdoutLogEnabled="true" stdoutLogFile="\home\LogFiles\python_logs_%d{yyyyMMdd}.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="WEBSITES_CONTAINER_START_TIME_LIMIT" value="300" />
        <environmentVariable name="WEBSITE_HTTPLOGGING_RETENTION_DAYS" value="7" />
        <environmentVariable name="WEBSITES_ENABLE_APP_SERVICE_STORAGE" value="true" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
    
    <!-- Enable detailed logging -->
    <httpLogging dontLog="false" />
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="200-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>