<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%PYTHON_EXE%" arguments="fast_startup.py" stdoutLogEnabled="true" stdoutLogFile="\var\log\stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="WEBSITES_CONTAINER_START_TIME_LIMIT" value="600" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>